@import './../../../theme/colors.scss';

:host{
    
    .modal-title{
        margin: 0 0 16px 0;
    }

    .primary-input{
        min-width: 100%;

    }

    .footer{
        display: flex;
        justify-content: space-between;
        margin-top: 1em;
        
    }
}