<div class="header">
    <h2 class="modal-title">
        <span [ngStyle]="{display : entryForm.value.description ? 'inline' : 'none'}">{{entryForm.value.description}}</span>
        <span [ngStyle]="{display : entryForm.value.description ? 'none' : 'inline'}">{{"COMMON.NEW.CATEGORY" | translate}}</span>    
    </h2>
</div>

<form class="form" [formGroup]="entryForm">
    <mat-form-field class="primary-input">
        <input formControlName="description" 
            matInput 
            type="text"
            placeholder="{{'COMMON.DESCRIPTION' | translate}}"/>
    </mat-form-field>

    <mat-form-field class="primary-input">
        <input formControlName="value" 
            matInput 
            type="number"
            placeholder="{{'COMMON.VALUE' | translate}}"/>
    </mat-form-field>

    <mat-form-field class="primary-input">
        <mat-label>{{"COMMON.CATEGORY" | translate}}</mat-label>
        <mat-select formControlName="categoryId">
            <mat-option class="primary-input-option"
                *ngFor="let category of financialNotes" 
                [value]="category.id">
                <div class="select-value">
                    <ion-icon class="select-icon-no-border" name="{{category.icon}}"></ion-icon>
                    <span class="select-text">{{category.title}}</span>
                </div>
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="primary-input">
        <input matInput 
            [matDatepicker]="picker" 
            placeholder="{{'COMMON.CHOSETHEDATE' | translate}}"
            formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    

    <div class="footer">
        <button (click)="onClickCloseModal()"
            class="cancel-button"
            mat-raised-button>{{"COMMON.CANCEL" | translate}}</button>

        <button (click)="onClickSave()"
            [disabled]="!entryForm.valid"
            class="primary-button"
            mat-raised-button
            color="primary">{{"COMMON.SAVE" | translate}}</button>
    </div>
</form>