<div class="header">
    <h2 class="modal-title">
        <span>{{"HOME.FILTERPANEL" | translate}}</span>    
    </h2>
</div>

<div class="body">

    <form class="form" [formGroup]="datesRange">
        <div class="formItem">
            <mat-form-field class="primary-input">
                <input matInput 
                    [matDatepicker]="startDatePicker" 
                    [min]="firstDate" 
                    [max]="lastDate"
                    placeholder="{{'MODALS.FILTERS.STARTDATE' | translate}}"
                    formControlName="startDate"/>
                <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #startDatePicker></mat-datepicker>
            </mat-form-field>
            <ion-icon [ngStyle]="{display : datesRange.value.startDate ? 'inline-block' : 'none'}"
                (click)="onClickClearDatesValue('startDate')"
                class="deleteIcon" 
                name="trash"></ion-icon>
        </div>
        
        <div class="formItem">
            <mat-form-field class="primary-input">
                <input matInput 
                    [matDatepicker]="endDatePicker" 
                    [min]="firstDate" 
                    [max]="lastDate"
                    placeholder="{{'MODALS.FILTERS.ENDDATE' | translate}}"
                    formControlName="endDate"/>
                <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #endDatePicker></mat-datepicker>
            </mat-form-field>
            <ion-icon [ngStyle]="{display : datesRange.value.endDate ? 'inline-block' : 'none'}"
                (click)="onClickClearDatesValue('endDate')"
                class="deleteIcon" 
                name="trash"></ion-icon>
        </div>
    </form>

    <mat-expansion-panel #expansionCategoryPanel class="expansionPanel" hideToggle>
        <mat-expansion-panel-header class="expansionHeader">
            <mat-panel-title>
                <span class="headerTitle">{{"MODALS.FILTERS.CATEGORIES" | translate}}</span>&nbsp;
                <span class="headerSelections">
                    <span [ngStyle]="{display : catergoiesListElement.selectedOptions.selected.length ? 'inline-block' : 'none'}"
                        [translate]="'MODALS.FILTERS.SELECTED'"
                        [translateParams]="{current : catergoiesListElement.selectedOptions.selected.length, all : financialNotes.length}">
                    </span>
                    <span [ngStyle]="{display : !catergoiesListElement.selectedOptions.selected.length ? 'inline-block' : 'none'}">
                        ({{"MODALS.FILTERS.SELECTEDALL" | translate}})
                    </span>
                </span>
            </mat-panel-title>
            
            <mat-panel-description>
                <span class="mat-expansion-indicator" 
                    [ngStyle]="{transform: expansionCategoryPanel.expanded ? 'rotate(180deg)' : 'rotate(0deg)'}"></span>
                <ion-icon [ngStyle]="{display : catergoiesListElement.selectedOptions.selected.length ? 'inline-block' : 'none'}"
                    (click)="onClickClearListValue('catergoiesListElement', $event)"
                    class="deleteIcon" 
                    name="trash"></ion-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
    
        <div class="expansionBody">
            <mat-selection-list #catergoiesListElement>
                <mat-list-option *ngFor="let category of financialNotes"
                    [value]="category">
                    {{category.title}}
                </mat-list-option>
            </mat-selection-list>
        </div>
    </mat-expansion-panel>
    
    <mat-expansion-panel #expansionEntryPanel class="expansionPanel" hideToggle>
        <mat-expansion-panel-header class="expansionHeader">
            <mat-panel-title>
                <span class="headerTitle">{{"MODALS.FILTERS.ENTRIES" | translate}}</span>&nbsp;
                <span class="headerSelections">
                    <span [ngStyle]="{display : entriesListElement.selectedOptions.selected.length ? 'inline-block' : 'none'}"
                        [translate]="'MODALS.FILTERS.SELECTED'"
                        [translateParams]="{current : entriesListElement.selectedOptions.selected.length, all : entries.length}">
                    </span>
                    <span [ngStyle]="{display : !entriesListElement.selectedOptions.selected.length ? 'inline-block' : 'none'}">
                        ({{"MODALS.FILTERS.SELECTEDALL" | translate}})
                    </span>
                </span>
            </mat-panel-title>

            <mat-panel-description>
                <span class="mat-expansion-indicator" 
                    [ngStyle]="{transform: expansionEntryPanel.expanded ? 'rotate(180deg)' : 'rotate(0deg)'}"></span>
                <ion-icon [ngStyle]="{display : entriesListElement.selectedOptions.selected.length ? 'inline-block' : 'none'}"
                    (click)="onClickClearListValue('entriesListElement', $event)"
                    class="deleteIcon" 
                    name="trash"></ion-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
    
        <div class="expansionBody">
            <mat-selection-list #entriesListElement>
                <mat-list-option *ngFor="let entry of entries"
                    [value]="entry">
                    {{entry}}
                </mat-list-option>
            </mat-selection-list>
        </div>
    </mat-expansion-panel>
</div>

<div class="footer">
    <button (click)="onClickCloseModal()"
        class="cancel-button"
        mat-raised-button>{{"COMMON.CANCEL" | translate}}</button>
    <button (click)="onClickApplyFilters()"
        class="primary-button"
        mat-raised-button
        color="primary">{{"MODALS.FILTERS.APPLY" | translate}}</button>
</div>