@import './../../../theme/colors.scss';

:host{
    height: 100vh;

    .topBrandContent{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primary-color;
        height: 200px;
        position: relative;
        
        .brandLogoCircle{
            max-height: 180px;
            animation: spin 10s infinite;
    
            @keyframes spin { 
                100% {transform: rotate(360deg)}
            }
        }
        
        .brandLogoChart{
            position: absolute;
            max-height: 100px;
            animation: blink 3s infinite;
        
            @keyframes blink {
                0% {opacity: .7}
                50% {opacity: 1}
                100% {opacity: .7}
            }
        }
    }
    
    .bottomForms{
        display: flex;
        flex-grow: 1;
        min-height: 300px;

        ::ng-deep.mat-tab-group{
            flex-grow: 1;
    
            .mat-tab-header{
                border-bottom-color: $almost-white;
        
                .mat-tab-labels{
                    background-color: $almost-white;
        
                    .mat-tab-label{
                        width: 100%;
                        opacity: 1;
    
                        .tabIcon{
                            margin-right: 0.5em;
                    
                        }
                    
                        .tabTitle{
                            text-transform: uppercase;
                    
                        }
                    }
                }
            }
        
            .mat-tab-body-wrapper{
                flex-grow: 1;
    
                .mat-tab-body-content{
                    display: flex;
                        
                    .form{
                        text-align: center;
                        flex-grow: 1;
                        margin: 2em;
    
                        .primary-input{
                            width: 100%;
    
                        }
                    }
                }
            }
        }
    }
}