.primary-input-option{

    .select-value{
        display: flex;
        align-items: center;
        
        .select-icon,
        .select-icon-no-border{
            width: 20px;
            height: 20px;
            border: 1px solid #dadada;
            border-radius: 1px;
            margin-right: 1em;

        }
        
        .select-icon-no-border{
            border: none;

        }
    }
}