<mat-sidenav-container>
    <mat-sidenav #sidenav
        mode="over"
        position="end"
        [autoFocus]="false">
        <div class="menuHeader">
            <img class="headerImage" 
                src="/assets/icons/logos/logo_with_name_after.png"
                routerLink="/home/dashboard"
                (click)="onClickToggleSidenav()">
            <button class="headerToggle"
                mat-button
                (click)="onClickToggleSidenav()">
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </div>
        <div class="menuBody">
            <button mat-button 
                routerLink="/home/reports"
                routerLinkActive="activeCurrentEntry"
                (click)="onClickToggleSidenav()">
                <mat-icon>list_alt</mat-icon>            
                <span>{{"REPORTS.TITLE" | translate}}</span>
            </button>
            <button mat-button 
                routerLink="/home/dashboard"
                routerLinkActive="activeCurrentEntry"
                (click)="onClickToggleSidenav()">
                <mat-icon>dashboard</mat-icon>            
                <span>{{"DASHBOARD.TITLE" | translate}}</span>
            </button>
            <button mat-button
                (click)="onClickToggleSidenav()">
                <mat-icon>account_circle</mat-icon>            
                <span>{{"PROFILE.TITLE" | translate}}</span>
            </button>
            <button class="menuBottomButton" 
                mat-button
                (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                <span>{{"HOME.LOGOUT" | translate}}</span>
            </button>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="header">
            <div class="headerRouterTitle">
                <mat-icon class="headerIcon">{{titleConfig.icon}}</mat-icon>
                <h3  class="headerTitle"> {{titleConfig.title}} </h3>
            </div>
            <button class="headerMenuToggle"
                mat-button
                (click)="onClickToggleSidenav()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <div class="pageBody">
            <router-outlet *ngIf="reportsLoaded"></router-outlet>           
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

<button class="mainFabListIcon"
    [ngClass]="{
        'mainFabListIcon--editMode' : isEditMode
    }"
    [matMenuTriggerFor]="menu"
    [hidden]="sidenav.opened"
    mat-fab>
    <div class="mainFabListIcons">
        <mat-icon class="mainFabListIconAdd--icon">add</mat-icon>
        <mat-icon class="mainFabListIconSave--icon">edit</mat-icon>
    </div>
</button>
<mat-menu #menu="matMenu"
    class="mainFabList">
    <button mat-menu-item
        (click)="onClickAddCategory()">
        <mat-icon>format_align_justify</mat-icon>
        <span>{{"COMMON.NEW.CATEGORY" | translate}}</span>
    </button>
    <button mat-menu-item
        (click)="onClickAddEntry()">
        <mat-icon>format_indent_increase</mat-icon>
        <span>{{"COMMON.NEW.ENTRY" | translate}}</span>
    </button>
    <button mat-menu-item
        (click)="onClickOpenFilters()">
        <mat-icon>filter_list</mat-icon>
        <span>{{"HOME.FILTERPANEL" | translate}}</span>
    </button>
    <button mat-menu-item
        (click)="onClickClearFilters()">
        <mat-icon>clear_all</mat-icon>
        <span>{{"HOME.CLEARFILTERS" | translate}}</span>
    </button>
    <!-- <button mat-menu-item
        (click)="onClickOpenCamara()">
        <mat-icon>camera</mat-icon>
        <span>{{"HOME.TICKETPHOTO" | translate}}</span>
    </button>
    <button mat-menu-item
        (click)="onClickToggleEdit()"
        [hidden]="isEditMode">
        <mat-icon>edit</mat-icon>
        <span>{{"COMMON.EDITMODE" | translate}}</span>
    </button>
    <button mat-menu-item
        (click)="onClickSaveEdit()"
        [hidden]="!isEditMode">
        <span class="mixedIcon">
            <mat-icon>save</mat-icon>
            <mat-icon>edit</mat-icon>
        </span>
        <span>{{"COMMON.SAVEEDIT" | translate}}</span>
    </button>
    <button mat-menu-item
        (click)="onClickCancelEdit()"
        [hidden]="!isEditMode">
        <span class="mixedIcon">
            <mat-icon>close</mat-icon>
            <mat-icon>edit</mat-icon>
        </span>
        <span>{{"COMMON.CANCELEDIT" | translate}}</span>
    </button> -->
</mat-menu>